body {
    font-family: Arial;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#resultado {
    margin-top: 15px;
    font-weight: bold;
}